.component-title-women {
    background-color: #94004f;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.component-data-mapped-women{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    gap: 1px;
}


.component-data-inner-women img {
    /* max-width: 10rem; */
    width: 14.5rem;
    height: 16rem;
    padding: 30px;
    /* box-shadow: 0 0 5px -2px inset #141111; */
}